<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-type" content="text/html;charest=UTF-8" />
<link th:href="@{/style.css}" rel="stylesheet" />
<title>add Product</title>
</head>
<body >
		
<div class="wrap">
<span class="decor"></span>
<nav>
  <ul class="primary">
    <li>
      <a href="addProduct" >Add Product</a>
    </li>
    <li>
      <a href="addBrand">Add Brand</a>
    </li>
    <li>
      <a href="Login">Logout</a> 
    </li>
      </ul>
</nav>
</div>
<section class="bodyADDproduct">
		
	<form class="adminform" method="post" th:action="@{/addBrand}" th:object="${brand}">
		<h3 class="header">Add New Product</h3>
		<input class="inputData" placeholder="brandName" type="text" th:field="*{brandName}" ></input>
		<br></br>
		<input class="inputData" placeholder="brandCategory" type="text" th:field="*{brandCategory}" ></input>
		<br></br>
		<input class="submit" type="submit" name="submit" placeholder="" value="Add"></input>
	</form>
	<table class="listProduct">
		<tr>
			<td>brandName</td>
			<td>brandCategory</td>
		</tr>
		<tr th:each="brand:${brands}">
			<td th:text="${brand.brandName}"></td>
			<td th:text="${brand.brandCategory}"></td>
		</tr>
	</table>
</section>
</body>
</html>