<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-type" content="text/html;charest=UTF-8" />
<link th:href="@{/style.css}" rel="stylesheet" />
<title>add Product</title>
</head>
<body >
		
<div class="wrap">
<span class="decor"></span>
<nav>
  <ul class="primary">
    <li>
      <a href="addProduct" >Add/Get Product</a>
    </li>
    <li>
      <a href="ShowAllProducts">Show Products</a>
    </li>
    <li>
      <a href="Login">Logout</a> 
    </li>
      </ul>
</nav>
</div>
<section class="bodyADDproduct">
		
	<form class="adminform" method="post" th:action="@{/addProduct}" th:object="${product}">
		<h3 class="header">Add New Product</h3>
		<input class="inputData" placeholder="product Name" type="text" th:field="*{name}" ></input>
		<br></br>
		<input class="submit" type="submit" name="submit" placeholder="" value="Add"></input>
	</form>
	<table class="listProduct">
		<tr>
			<td>Product</td>
			<td>category</td>
			<td>Brand</td>
			<td>price</td>
		</tr>
		<tr th:each="product:${product}">
			<td th:text="${product.name}"></td>
			<td th:text="${product.category}"></td>
			<td th:text="${product.brandName}"></td>
			<td th:text="${product.price}"></td>
		</tr>
	</table>
</section>
</body>
</html>